.App {
  text-align: center;
}

img {
  width: 50%;

}

.movie-container {
  display: flex;
}


.item {
  flex: 1;
}

.item img {
  width: 230px;
  height: 340px;
}


@media only screen and (max-width: 600px) {
  .movie-container {
    flex-direction: column;
  }
}